@import "utils/variables";
@import "utils/container";
@import "utils/reset-placeholder";
@import "utils/visually-hidden";
@import "utils/section";

@import "components/header";
@import "components/logo";
@import "components/contacts";

@import "components/nav";
@import "components/business";
@import "components/backdrop";
@import "components/section-priority";
@import "components/section-work";
@import "components/section-comand";
@import "components/section-customers";
@import "components/footer";
@import "components/section-portfolio";