.header {
    border-bottom: 1px solid #ececec;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    &--nav {
        display: flex;
        align-items: center;
    }
}


                                            // LOGO
// .logo {
//     text-decoration: none;
//     color: #000000;
//     font-family: 'Raleway', sans-serif;
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.19;
//     letter-spacing: 0.03em;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover {
//         color: $accent-color;
//     }
// }


// .logo__web {
//     color: $accent-color;
//     font-family: Oleo Script, cursive;
//     font-size: 26px;
//     line-height: 1.38;
//     font-weight: 400;
//     letter-spacing: 0.03em;
// }
//                                                 // NAV
// .site-nav .link {
//     color: $title-text-color;
//     font-style: normal;
//     font-weight: 500;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     display: block;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//         color: $accent-color;
//     }
// }

// .site-nav__current {
//     color: $accent-color;
//     position: relative;

//     &::after {
//             content: '';
//             width: 100%;
//             height: 4px;
//             background-color: $accent-color;
//             display: block;
//             border-radius: 2px;
//             position: absolute;
//             left: 0;
//             bottom: 0;
//     }
// }

// .site-nav {
//     display: flex;
//     margin-left: 93px;
//     &__item:not(:last-child) {
//         margin-right: 50px;
//     }
// }


//                     // Contacts
// .contacts {
//     display: flex;
//     margin-left: auto;

//     &__item + &__item {
//     margin-left: 50px;
//     }
// }

// .contacts__link {
//     color: $primary-text-color;
//     font-weight: 500;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//             color: $accent-color;
//         }
// }


// .contacts__icon {
//     fill: currentColor;
//     margin-right: 10px;
// }

