.site-nav .link {
    color: $title-text-color;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.site-nav__current {
    color: $accent-color;
    position: relative;

    &::after {
        content: '';
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        display: block;
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.site-nav {
    display: flex;
    margin-left: 93px;

    &__item:not(:last-child) {
        margin-right: 50px;
    }
}