.section.comand {
    background-color: #f5f4fa;
}

.comand__title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.comand-list {
    display: flex;

    &__item {
            width: calc((100% - 90px) * 4);
            margin-right: 30px;
            border: 1px solid transparent;
            border-radius: 0px 0px 4px 4px;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
        }
    
        &__item:last-child {
            margin-right: 0;
        }
}

.job-title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff;
}
.comand-list__name {
    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.comand-list__prof {
    color:$primary-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}
.comand-social {
    display: flex;
    align-items: center;
    justify-content: center;

    &__icon {
            margin-left: 10px;
        }
    
        &__icon:nth-child(1) {
            margin-left: 0px;
        }
}

.comand-social__link {
    width: 44px;
    height: 44px;
    text-decoration: none;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
        &:focus {
            background-color: $accent-color;
            border-radius: 50%;
        }
    
        &:hover .comand-social__svg,
        &:focus .comand-social__svg {
            fill: #ffffff;
        }
}


.comand-social__svg {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}