.work__title{
    color: $title-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.working {
    display: flex;
    &__item {
            margin-right: 30px;
            width: calc((100% - 60px) / 3);
        }
    
        &__item:last-child {
            margin-right: 0;
        }
}

.img-position {
    position: relative;
}
.working__position {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);

    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    color: $secondary-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
